<html lang="en">

<script type="text/javascript">
    /**
     * Created by Ershadi on 9/19/2015.
     */
    var loadDistricts = function (value) {
        if (value == "Southern") {
            var districtSelect = document.getElementById("districtSelect");
            districtSelect.options.length = 0;
            var districtsArray = ["Galle", "Hambanthota", "Matara"];

            for (var i = 0; i < districtsArray.length; i++) {
                var opt = districtsArray[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                districtSelect.appendChild(el);
            }
        }else{
            districtSelect.options.length = 0;
        }
    }

    var loadPoliceDevisions = function (value) {
        if (value == "Hambanthota") {
            var policeStationSelect = document.getElementById("policeStationSelect");
            policeStationSelect.options.length = 0;
            var policeStationsArray = ["Embilipitiya", "Tangalle", "Lunugamwehera", "Katuwana"];

            for (var i = 0; i < policeStationsArray.length; i++) {
                var opt = policeStationsArray[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                policeStationSelect.appendChild(el);
            }
        }else{
            policeStationSelect.options.length = 0;
        }
    }

</script>

<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(function(){
		
		function swapDivs(tohide, toshow) {
			$("#"+tohide).hide();
			$("#"+toshow).show();
		}		
		
		$('button').click(function(){
		
			//when police is selected and next clicked
			if( $(this).attr('id')=="policeSelectedNextBtn"){
				swapDivs("q1police", "q2complaintype");
			}
		
			//when complain type is entered
			if( $(this).attr('id')=="complaintypebtn"){
				swapDivs("q2complaintype", "writtendowndiv");
			}
			
			//if the complain is written down
			if( $(this).attr('id')=="yeswrittenbtn"){
				swapDivs("writtendowndiv", "howlongdiv");
			}
			
			//if complain is not written
			if( $(this).attr('id')=="notwrittenbtn"){
				swapDivs("writtendowndiv", "efficiantdev");
			}
			
			
			//how long taken for the complain
			if( $(this).attr('id')=="howlongbtn"){
				swapDivs("howlongdiv", "yourlangdiv");
			}			
			
			//your language?
			if( $(this).attr('id')=="yourlangyesbtn"){
				swapDivs("yourlangdiv", "yourlangyesdiv");
			}
			
			//your language no menu
			if( $(this).attr('id')=="yourlangnobtn"){
				swapDivs("yourlangdiv", "translatordiv");
			}
			
			//translator menu
			if( $(this).attr('id')=="translatorbtn"){
				swapDivs("translatordiv", "womenchilddev");
			}
			
			//your language yes menu
			if( $(this).attr('id')=="yourlangyesmenubtn"){
				swapDivs("yourlangyesdiv", "womenchilddev");
			}
			
			//women child menu 
			if( $(this).attr('id')=="womenchildbtn"){
				swapDivs("womenchilddev", "medicalreq");
			}
			
			//if medical assistant needed
			if( $(this).attr('id')=="medicalreqyes"){
				swapDivs("medicalreq", "medicaldev");
			}

			//medical assistance not needed
			if( $(this).attr('id')=="medicalreqbtn"){
				swapDivs("medicalreq", "efficiantdev");
			}
			
			//medical service menu
			if( $(this).attr('id')=="medicaldevbtn"){
				swapDivs("medicaldev", "efficiantdev");
			}
			
			//efficient menu
			if( $(this).attr('id')=="efficientbtn"){
				swapDivs("efficiantdev", "friendlydev");
			}
			
			//friendly menu
			if( $(this).attr('id')=="friendlybtn"){
				swapDivs("friendlydev", "intimidatedev");

			}
			
			//intimidate menu
			if( $(this).attr('id')=="intimidatebtn"){
				swapDivs("intimidatedev", "humiliatedev");

			}
			
			//intimidate menu
			if( $(this).attr('id')=="humiliatebtn"){
				swapDivs("humiliatedev", "thankyoudev");

			}
			
			})
		
			
	
	});
	
	
	</script>

    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-start {
        clip: rect(0, auto, auto, 0);
        -ms-zoom: 1.0001;
    }

    .ng-animate-active {
        clip: rect(-1px, auto, auto, 0);
        -ms-zoom: 1;
    }</style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootply snippet - Bootstrap </title>
    <meta name="generator" content="Bootply">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap  example snippet for Bootstrap.">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">


    <!-- CSS code from Bootply.com editor -->

    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Antic+Slab);

        html, body {
            height: 100%;
        }

        h1 {
            font-family: 'Antic Slab', serif;
            font-size: 80px;
            color: #DDCCEE;
        }

        .lead {
            color: #DDCCEE;
        }

        /* Custom container */
        .container-full {
            margin: 0 auto;
            width: 100%;
            min-height: 100%;
            background-color: #110022;
            color: #eee;
            overflow: hidden;
        }

        .container-full a {
            color: #efefef;
            text-decoration: none;
        }

        .v-center {
            margin-top: 7%;
        }

    </style>
	
	
</head>

<!-- HTML code from Bootply.com editor -->

<body>

<div class="container-full">

    <div class="row" id="q1police">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Select the province of the relevant police station</p>

            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                <select class="form-control" id="provinceSelect" onclick="loadDistricts(this.value)">
                    <option>Central</option>
                    <option>Eastern</option>
                    <option>North Central</option>
                    <option>Northern</option>
                    <option>North Western</option>
                    <option>Sabaragamuwa</option>
                    <option value="Southern">Southern</option>
                    <option>Uva</option>
                    <option>Western</option>
                </select>
            </div>

            <br><br>

            <p class="lead">Select the district</p>

            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                <select class="form-control" id="districtSelect" onclick="loadPoliceDevisions(this.value)">
                </select>
            </div>

            <br><br>

            <p class="lead">Select the police station</p>

            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                <select class="form-control" id="policeStationSelect">
                </select>
				
				
            </div>
			<br><br>
			
			<div class="input-group input-group-lg col-sm-offset-4 col-sm-4">				
				<button id="policeSelectedNextBtn" value="ooi" class="btn btn-primary btn-lg btn-block" toshow="q2complaintype" tohide="q1police">Next</button>
            </div>

            <br><br>

            

        </div>	 
	</div>
	
	<!-- PAGE 2 -->
	
	<div id="q2complaintype" class="row" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Select the type of your complain</p>
            <br>
            <div class="container-fluid">
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Rape</button><br>
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Child abuse</button><br>
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Domestic Violence</button><br>
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Sexual Harassment</button><br>
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Theft</button><br>
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Traffic Offences</button><br>
                <button id="complaintypebtn" class="btn btn-primary btn-lg btn-block">Other</button><br>
            </div>

        </div>

    </div> <!-- /row -->
	
	<!-- PAGE 3-->
	
	<div class="row" id="writtendowndiv" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Was your complaint written down</p>
            <br>

            <div class="container-fluid">
                <button id="yeswrittenbtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="notwrittenbtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	
	<!-- PAGE 4 IF YES COMPLAIN WRITTEN DOWN -->
	
	<div id="howlongdiv" class="row" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">How long did the Police take to start recording your complaint?</p>
            <br>
            <div class="container-fluid">
                <button id="howlongbtn" class="btn btn-primary btn-lg btn-block">Within 10 minutes</button><br>
                <button id="howlongbtn" class="btn btn-primary btn-lg btn-block">10-20 Minutes</button><br>
                <button id="howlongbtn" class="btn btn-primary btn-lg btn-block">20-30 Minutes</button><br>
                <button id="howlongbtn" class="btn btn-primary btn-lg btn-block">More than 30 Minutes</button><br>
            </div>

        </div>

    </div> <!-- /row -->
	
	<!-- PAGE 5  WAS IT RECORDED IN YOUR LANGUAGE -->
	
	<div id="yourlangdiv" class="row" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Was it recorded in our language?</p>
            <br>

            <div class="container-fluid">
                <button id="yourlangyesbtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="yourlangnobtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
	
	<!-- PAGE 5 NO -->
	
	<div id="translatordiv" class="row" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Was a translator provided?</p>
            <br>

            <div class="container-fluid">
                <button id="translatorbtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="translatorbtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
	<!-- /row -->
	
	<!-- PAGE 5 YOUR LANGUAGE YES -->
	
	<div id="yourlangyesdiv" class="row" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Did you read the complain?</p>
            <br>

            <div class="container-fluid">
                <button id="yourlangyesmenubtn" class="btn btn-primary btn-lg btn-block">I read and signed it</button>
                <br>
                <button id="yourlangyesmenubtn" class="btn btn-primary btn-lg btn-block">It was read to me and I signed</button>
                <br>
                <button id="yourlangyesmenubtn" class="btn btn-primary btn-lg btn-block">It was not read but signed</button>
                <br>
                <button id="yourlangyesmenubtn" class="btn btn-primary btn-lg btn-block">It was neither read nor signed</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	
	
	<!-- PAGE 6 WOMEN CHILD -->
	<div id="womenchilddev" class="row" style="display: none;">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">If it is a complaint related to a woman or child, were you given the assistance of a female police officer?</p>
            <br>

            <div class="container-fluid">
                <button id="womenchildbtn" class="btn btn-primary btn-lg btn-block">Not applicable</button>
                <br>
                <button id="womenchildbtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="womenchildbtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	
	<!-- MEDICAL SERVICES -->

    <div id="medicalreq" style="display: none;" class="row">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Were medical services provided if it was needed?</p>
            <br>

            <div class="container-fluid">
                <button id="medicalreqbtn" class="btn btn-primary btn-lg btn-block">Not applicable</button>
                <br>
                <button id="medicalreqyes" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="medicalreqbtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	
	<!-- MEDICAL SERVICES NEEDED -->

    <div id="medicaldev" style="display: none;" class="row">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">How long did it take to provide medical services?</p>
            <br>

            <div class="container-fluid">

                <button id="medicaldevbtn" class="btn btn-primary btn-lg btn-block">Within 1-6 hours</button>
                <br>
                <button id="medicaldevbtn" class="btn btn-primary btn-lg btn-block">Within 6-12 hours</button>
				<br>
                <button id="medicaldevbtn" class="btn btn-primary btn-lg btn-block">Within 12 hours</button>
                <br>
                <button id="medicaldevbtn" class="btn btn-primary btn-lg btn-block">Within 12-24 hours</button>
				<br>
                <button id="medicaldevbtn" class="btn btn-primary btn-lg btn-block">More than 24 hours</button>
                <br>
				
            </div>

        </div>

    </div>
    <!-- /row -->
	
	<div id="efficiantdev" style="display: none;" class="row">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Overall response: Was the service efficient?</p>
            <br>

            <div class="container-fluid">
                <button id="efficientbtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="efficientbtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	

    <div id="friendlydev" style="display: none;" class="row">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Overall response: Were they friendly?</p>
            <br>

            <div class="container-fluid">
                <button id="friendlybtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="friendlybtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	
	<div id="intimidatedev" style="display: none;" class="row">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Overall response: Did they intimidate you?</p>
            <br>

            <div class="container-fluid">
                <button id="intimidatebtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="intimidatebtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->

	<div id="humiliatedev" style="display: none;" class="row">

        <div class="col-lg-12 text-center v-center">

            <p class="lead">Overall response: Did they humiliate you?</p>
            <br>

            <div class="container-fluid">
                <button id="humiliatebtn" class="btn btn-primary btn-lg btn-block">Yes</button>
                <br>
                <button id="humiliatebtn" class="btn btn-primary btn-lg btn-block">No</button>
            </div>

        </div>

    </div>
    <!-- /row -->
	

</div>
<!-- /container full -->


<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>


<!-- JavaScript jQuery code from Bootply.com editor  -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-40413119-1', 'bootply.com');
    ga('send', 'pageview');
</script>




</body>
</html>