@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
    height:100%;
}

.centeredDiv {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height:100%;
    background-color:#110022;
    color:#eee;
    overflow:hidden;
    font-family: 'Antic Slab', serif;
}

h1 {
    font-family: 'Antic Slab', serif;
    font-size: 80px;
    color: #DDCCEE;
}

.lead {
    color: #DDCCEE;
}


.container-full a {
    color: #efefef;
    text-decoration: none;
}

.v-center {
    margin-top: 7%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-start {
    clip: rect(0, auto, auto, 0);
    -ms-zoom: 1.0001;
}

.ng-animate-active {
    clip: rect(-1px, auto, auto, 0);
    -ms-zoom: 1;
}